# 依赖
/node_modules
/.pnp
.pnp.js

# 测试
/coverage

# Next.js
/.next/
/out/

# 生产
/build
*.tsbuildinfo
next-env.d.ts

# 环境变量
.env*.local
.env
.env.production

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# 操作系统
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 缓存
.eslintcache
